<h2>Please enter a new password.</h2>
<p><form action="/recovery/password" method="post">
<input type="hidden" id="hidden" name="user_id" value="<%= @user.id %>">
<input type="password" name="password" id="password"><br>
<input id="submit" name="submit" type="submit" value="Submit">
</form></p>