<h2>Log In</h2>
<% if session[:log_in_failed?] == true %>
    <p>Log in failed. Please re-enter your email and password.</p>
    <% session[:log_in_failed?] == false %>
<% end %>
<form action="/login" method="post">
<table>
<tr>
<td><label for="email">Email</label></td>
<td><input type="text" name="user[email]" id="email"></td>
</tr>
<tr>
<td><label for="password">Password</label></td>
<td><input type="password" name="user[password]" id="password"></td>
</tr>
</table>
<input type="submit" name="log_in" id="log_in" value="Log In"><br>
</form>
<p>Don't have an account? <a href="/signup">Click here to sign up.</a></p>